#navigation-container {
  width: 4%;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
}

#navigation-container:hover {
  width: 10%;
}

.nav-item-name {
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;

  transition: opacity 0.3s ease-in-out;
}
#navigation-container:hover .nav-item-name {
    opacity: 1;
    visibility: visible;
}
